@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;

}

:root {

    --white: #fefefe;
    --lightgrey: #f9f9f9ff;
    ;
    --mediumgrey: #a7a7a7;
    --grey: #c4c4c4;
    --darkgrey: #343434;
    --black: #1D021D;
    --lightblue: #b2dffc;
    --blue: #1b77f3;
    --darkblue: #3b5998;
    --red: #CF3C3f;
}

.search {
    width: 20%;
    height: 20px;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(8px, 5vw, 1rem);
}


.main {
    border-style: solid;
    display:flex;
    border-color: var(--grey);
    justify-content: space-between;
    width: 100%;
    height: 60vh;
    justify-content: center;
}

.img {
    border-style: solid;
    display: inline-block;
    border-color: var(--grey);
    width: 40%;
    height: 85%;
    margin-top: 1.5%;
}

.bg {
    height: 100%;
    width: 100%;
}

.type {
    border-style: solid;
    display: inline-block;
    border-color: var(--grey);
    width: 40%;
    height:  85%;
    margin-top: 1.5%;
}

.status {
    border-style: solid;
    border-color: var(--red);
    width: 100%;
    height: 40vh;
}

.pokemon_img_data {
    position: relative;
    bottom: 80%;
    left: 50%;
    transform: translate(-50%, 50%);
    height: 50%;
}